{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="masthead-bar" aria-label="Primary navigation">
        <div class="masthead-bar__left">
          {% if page.url != "/" %}
            <a href="{{ base_path }}/" class="masthead-name">
              Md. Latifur Rahman Rafi
            </a>
          {% endif %}

          <div class="masthead-social">
            {% if site.enable_navbar_social %}
              {% if site.author.email %}
                <a href="mailto:{{ site.author.email }}" aria-label="Email">
                  <img class="masthead-icon" src="{{ '/images/icons/envelope-solid-full.svg' | prepend: base_path }}" alt="Email" />
                </a>
              {% endif %}
              {% if site.author.github %}
                <a href="https://github.com/{{ site.author.github }}" aria-label="GitHub" target="_blank" rel="noopener">
                  <img class="masthead-icon" src="{{ '/images/icons/square-github-brands-solid-full.svg' | prepend: base_path }}" alt="GitHub" />
                </a>
              {% endif %}
              {% if site.author.linkedin %}
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" aria-label="LinkedIn" target="_blank" rel="noopener">
                  <img class="masthead-icon" src="{{ '/images/icons/square-linkedin-brands-solid-full.svg' | prepend: base_path }}" alt="LinkedIn" />
                </a>
              {% endif %}
              {% if site.author.twitter %}
                <a href="https://x.com/{{ site.author.twitter }}" aria-label="X" target="_blank" rel="noopener">
                  <img class="masthead-icon" src="{{ '/images/icons/square-x-twitter-brands-solid-full.svg' | prepend: base_path }}" alt="X" />
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="masthead-bar__center">
          <ul class="masthead-bar__links">
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="{% if (page.url == link.url) or (link.url != '/' and page.url contains link.url) %}selected{% endif %}">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="masthead-bar__right">
          <a id="theme-toggle" role="button" aria-labelledby="theme-icon" aria-label="Toggle theme">
            <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i>
          </a>
        </div>
      </nav>

      <!-- Mobile hamburger menu (Akari-style) -->
      <div class="masthead-mobile">
        <input class="masthead-mobile__toggle" type="checkbox" id="masthead-mobile-toggle" aria-label="Toggle menu" />
        <label class="masthead-mobile__button" for="masthead-mobile-toggle" aria-hidden="true">
          <span></span><span></span><span></span>
        </label>
        <div class="masthead-mobile__panel" aria-label="Mobile menu">
          <ul>
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
